<div class="col-md-8" >  
    <!-- Blog Post Content Column -->
    <div ng-repeat="news in news.data">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{news.title}}</h1>

                <!-- Author -->
                <p class="lead">
                    by {{news.author}}
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{news.created_at}}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" ng-src="http://aiw.local/uploads/{{news.thumb}}" alt="">

                <hr>

                <!-- Post Content -->
                <p ng-bind-html="news.content"></p>

                <hr>

                <!-- Blog Comments -->
                <div class="media" ng-repeat="comment in news.comments">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{comment.author}}
                            <small>{{comment.created_at}}</small>
                        </h4>
                        {{comment.content}}
                    </div>
                </div>
                <hr>
                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form" ng-submit="submitContent()">
                        <div class="form-group">
                            <input type="hidden" ng-model="commentData.news_id" ng-init="commentData.news_id=news.id" /> 
                        </div>
                        <div class="form-group">
                            <label>Author</label>
                            <input id='author' type="text" name="author" ng-model="commentData.author">
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <textarea id='content' class="form-control" rows="3" name="content" ng-model="commentData.content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                

                <!-- Posted Comments -->

                <!-- Comment -->

                <!-- Comment -->
    </div>              
</div>
<div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well" ui-view="search"></div>
                <!-- Blog Categories Well -->
                <div class="well" ui-view="category"></div>
 </div>
            

           